body{
    margin: 0 auto;
    height: 100vh;
    background-color: #C2B3A3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}






nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    background-color: #C2B3A3;
    height: fit-content;
    justify-items: center;
    align-items: center;
    border-bottom: 4px solid hsl(31, 20%, 40%);
}
.logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 1.5em;
    margin-left: 20px;
    border-right: 4px solid hsl(31, 20%, 40%);
}

.pageLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    font-size: 2em;
    font-family: 'Bebas Neue';
    border-right: 4px solid hsl(31, 20%, 40%);
}
.btnContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#loginBtn{
    width: 150px;
    height: fit-content;
    background-color: #17150F;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding: 10px;
    margin-right: 20px;
}




.heroSection{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
    background-color: #2B2725;
}
.heroSection h1{
    font-family: 'Archivo Black';
    color: white;
    font-size: 5em;
}
.heroSection h2{
    font-family: 'Bebas Neue';
    color: white;
    font-size: 3.5em;
    margin-top: -10px;
}
#bookBtn{
    width: 150px;
    height: fit-content;
    background-color: #FE6E2B;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding: 10px;
}




.ourServices{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.ourServices h1{
    font-family: 'Bebas Neue';
    font-size: 3em;
}
.haircuts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17150F;
    color: white;
    padding: 20px;
    width: 291px;
    height: 455px;
}
.child img{
    width: 208px;
    height: 239px;
}
.child h2{
    font-family: 'Bebas Neue';
    font-size: 3em;
}
.child p{
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -15px;
}
.child button{
    width: 150px;
    height: fit-content;
    background-color: #FE6E2B;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding: 10px;
}
.adult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17150F;
    color: white;
    padding: 20px;
    width: 291px;
    height: 455px;
}
.adult img{
    width: 208px;
    height: 239px;
}
.adult h2{
    font-family: 'Bebas Neue';
    font-size: 3em;
}
.adult p{
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -15px;
}
.adult button{
    width: 150px;
    height: fit-content;
    background-color: #FE6E2B;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding: 10px;
}
.beardAndHair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17150F;
    color: white;
    padding: 20px;
    width: 291px;
    height: 455px;
}
.beardAndHair img{
    width: 208px;
    height: 239px;
}
.beardAndHair h2{
    font-family: 'Bebas Neue';
    font-size: 3em;
}
.beardAndHair p{
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -15px;
}
.beardAndHair button{
    width: 150px;
    height: fit-content;
    background-color: #FE6E2B;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding: 10px;
}



.bentoBoxContainer{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bentoBox{
    background-color: #F2EDE4;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.yourChair{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-right: 6px solid #C2B3A3;
    border-bottom: 6px solid #C2B3A3;
}
.yourChair img{
    width: 264px;
    height: 330px;
}
.yourChair h1{
    font-family: 'Bebas Neue';
    font-size: 3em;
    width: 200px;
    margin: 0;
    padding: 0;
}
.cleanCuts{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    border-bottom: 6px solid #C2B3A3;
}
.cleanCutsTxt {
    width: 428px;
    height: 100%;
}
.cleanCuts h1{
    font-family: 'Bebas Neue';
    font-size: 3em;
    margin-top: 0;
}
.cleanCuts p{
    font-family: 'inter';
    font-weight: bold;
    margin-top: -20px;
}
.cleanCuts img{
    width: 190px;
    height: 190px;
    transform: rotate(200deg);
}
.brandPartners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 654px;
    border-right: 6px solid #C2B3A3;
}
.brandPartners h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 3em;
    width: 100%;
}
.brands{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
}
.brands img{
    width: 230px;
    height: 129px;
}
#map{
    width: 100%;
    height: 100%;
}