body{
    margin: 0 auto;
    height: 100vh;
    background-color: #C2B3A3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1r auto 1fr;
}






nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    background-color: #C2B3A3;
    height: fit-content;
    justify-items: center;
    align-items: center;
    border-bottom: 4px solid hsl(31, 20%, 40%);
}
.logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 1.5em;
    margin-left: 20px;
    border-right: 4px solid hsl(31, 20%, 40%);
}

.pageLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    font-size: 2em;
    font-family: 'Bebas Neue';
    border-right: 4px solid hsl(31, 20%, 40%);
}
.btnContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#loginBtn{
    width: 150px;
    height: fit-content;
    background-color: #17150F;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding: 10px;
    margin-right: 20px;
}